In [1]:
## Import libraries
import numpy as np
import pandas as pd
import psycopg2
import os

## Import database configuration module
import databaseConfig as creds

## Database configuration
host = creds.host
databaseName = creds.databaseName
user = creds.user
password = creds.password
    
## Database details
connectionString = "host=%s dbname=%s user=%s password=%s" % (host, databaseName, user, password)

## Establish connection
rdsConnection = psycopg2.connect(connectionString)

## Opens the connection
cursor = rdsConnection.cursor()
print('Connected to database')

Connected to database

### 1. The cursor class 

#### 1-1. execute

In [2]:
## Execute a database operation (query or command)
cursor.execute("SELECT * FROM employee_demographics;")

#### 1-2. fetchall( )

In [3]:
## Fetch all rows of a query result, returning them as a list of tuples
display(cursor.fetchall())

[(1001, 'Jim', 'Halpert', 30, 'Male'),
 (1002, 'Pam', 'Beasley', 30, 'Female'),
 (1003, 'Dwight', 'Schrute', 29, 'Male'),
 (1004, 'Angela', 'Martin', 31, 'Female'),
 (1005, 'Toby', 'Flenderson', 32, 'Male'),
 (1006, 'Michael', 'Scott', 35, 'Male'),
 (1007, 'Meredith', 'Palmer', 32, 'Female'),
 (1008, 'Stanley', 'Hudson', 38, 'Male'),
 (1009, 'Kevin', 'Malone', 31, 'Male')]

#### 1-3. rowcount

In [4]:
## Specifies the number of rows that the last execute*() produced
print(cursor.rowcount)

9

#### 1-4. query

In [5]:
## Attribute containing the body of the last query sent to the backend as bytes string
print(cursor.query)

b'SELECT * FROM employee_demographics;'

#### 1-5. description

In [6]:
## Returns a sequence of column instances
display(cursor.description)

(Column(name='employee_id', type_code=23),
 Column(name='first_name', type_code=1043),
 Column(name='last_name', type_code=1043),
 Column(name='age', type_code=23),
 Column(name='gender', type_code=1043))

In [7]:
## Retrieve column names I
for i in cursor.description: print(i[0])

employee_id
first_name
last_name
age
gender

In [8]:
## Retrieve column names II
display([i[0] for i in cursor.description])

['employee_id', 'first_name', 'last_name', 'age', 'gender']